@model Renta_y_venta_de_peliculas.Web.Models.PeliculaModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Editar Pelicula: </h4>
<hr />

if (ViewBag.Message != null)
{
    <div class= "text.danger">
        ViewBag.Message
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="codPelicula" class="control-label"></label>
                <input asp-for="codPelicula" class="form-control" />
                <span asp-validation-for="codPelicula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="txtDesc" class="control-label"></label>
                <input asp-for="txtDesc" class="form-control" />
                <span asp-validation-for="txtDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cant_Disponibles_Alquiler" class="control-label"></label>
                <input asp-for="cant_Disponibles_Alquiler" class="form-control" />
                <span asp-validation-for="cant_Disponibles_Alquiler" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cant_Disponibles_Venta" class="control-label"></label>
                <input asp-for="cant_Disponibles_Venta" class="form-control" />
                <span asp-validation-for="cant_Disponibles_Venta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precioVenta" class="control-label"></label>
                <input asp-for="precioVenta" class="form-control" />
                <span asp-validation-for="precioVenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precioAlquiler" class="control-label"></label>
                <input asp-for="precioAlquiler" class="form-control" />
                <span asp-validation-for="precioAlquiler" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="createDate" class="control-label"></label>
                <input asp-for="createDate" class="form-control" />
                <span asp-validation-for="createDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="createDateDisplay" class="control-label"></label>
                <input asp-for="createDateDisplay" class="form-control" />
                <span asp-validation-for="createDateDisplay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
